<div id="reverse" class="storey storey--notop home__block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8">
                <h2 class="storey__header">Обратная транслитерация</h2>
                <p>Преобразовать латиницу в кириллицу сильно сложнее, <code>iuliia</code> этого не умеет.
                    Попробуйте, например, «<a href="https://dadata.ru/clean/">Дадату</a>» — она транслитерирует
                    в обратную сторону ФИО и адреса.</p>
            </div>
        </div>
    </div>
</div>