<div id="code" class="storey storey--notop home__block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8">
                <h2 class="storey__header">Исходники и библиотеки</h2>
                <p>Библиотека <code>iuliia</code> поддерживает все описанные сценарии и схемы транслитерации.
                    Реализована для:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <p><a href="https://github.com/belianin/iuliia-cs">C#</a></p>
                <p><a href="https://github.com/kandayo/iuliia-cr">Crystal</a></p>
                <p><a href="https://github.com/mehanizm/iuliia-go">Go</a></p>
                <p>
                    <a href="https://github.com/massita99/iuliia-java">Java</a>
                    <a href="https://github.com/homyakin/iuliia-java">+1</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p><a href="https://github.com/nalgeon/iuliia-js">JavaScript</a></p>
                <p><a href="https://github.com/perevoshchikov/iuliia-php">PHP</a></p>
                <p>
                    <a
                        href="https://github.com/rin-nas/postgresql-patterns-library/blob/master/functions/iuliia_translate.sql">PostgreSQL</a>
                </p>
                <p>
                    <a href="https://github.com/nalgeon/iuliia-py">Python</a>
                    ⭐
                </p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p><a href="https://github.com/adnikiforov/iuliia-rb">Ruby</a></p>
                <p><a href="https://github.com/massita99/iuliia-rust">Rust</a></p>
                <p><a href="https://github.com/petertretyakov/Iuliia">Swift</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8">
                <details>
                    <summary>Почему такое странное название</summary>
                    <p>Во-первых, большинство транслитных библиотек называются translit, transliteration и тому
                        подобное — это скучно.</p>
                    <p>Во-вторых, решительно невозможно пройти мимо «замечательного» стандарта <a
                            href="/icao-doc-9303">ICAO DOC 9303</a>, который испоганил значительную часть
                        имён и фамилий в загранпаспортах — в том числе несчастную Юлию (и меня тоже,
                        чего скрывать).
                    </p>
                    <p>Так и появилась <code>iuliia</code>. Предпочитаю ласково называть её «йуля».</p>
                </details>

                <p>Если портируете библиотеку на свой любимый язык — буду рад добавить ссылку!</p>
            </div>
        </div>
    </div>
</div>