<section id="promo" class="storey hero__block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8">
                <h1 class="storey__header">Юлия → Iuliia</h1>
                <p class="promo__subheader">Выберите подходящую схему транслитерации и используйте в коде
                    без головной боли.</p>
                <ul class="oneliner">
                    <li><a href="#usecase">по ситуации</a></li>
                    <li><a href="#main">все схемы</a></li>
                    <li><a href="#code">исходники</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="storey storey--notop home__block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <strong>Для любой ситуации</strong>
                <p>Загранпаспорт, банковская карта, почтовый адрес, ФИО...</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <strong>20 схем транслитерации</strong>
                <p>ГОСТы, МВД, Почта, Википедия, ISO, UN, Library of Congress, ...</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <strong>Open Source</strong>
                <p>Библиотеки для 10 языков</p>
            </div>
        </div>
    </div>
</div>