<div id="main" class="storey storey--notop home__block">
    <div class="container">
        <h2 class="storey__header">Основные схемы</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-5 flex">
                <div id="top-wikipedia" class="content tile tile--small tile--gray">
                    <p class="tile__header">⭐ <a href="/wikipedia">Википедия</a></p>
                    <p>Приятно звучит и неплохо выглядит. Лучший выбор для адресов, хороший выбор для всего
                        остального.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 flex">
                <div id="top-mosmetro" class="content tile tile--small tile--gray">
                    <p class="tile__header">⭐ <a href="/mosmetro">Мосметро</a></p>
                    <p>Приятно выглядит и неплохо звучит. Лучший выбор для ФИО, хороший выбор для всего остального.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 flex">
                <div id="top-gost-779" class="content tile tile--small tile--gray">
                    <p class="tile__header">📚 <a href="/gost-779">ГОСТ 7.79-2000</a></p>
                    <p>Универсальный международный стандарт <span class="nowrap">ISO 9:1995</span>. Громоздкая,
                        зато обратимая. С диакритикой и без.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 flex">
                <div id="top-icao-doc-9303" class="content tile tile--small tile--gray">
                    <p class="tile__header">👩 <a href="/icao-doc-9303">ICAO DOC 9303</a></p>
                    <p>Международный стандарт для ФИО. Используется для водительских удостоверений
                        и загранпаспортов. Без диакритики.</p>
                </div>
            </div>
        </div>
    </div>
</div>