<footer class="post__footer">
    <div class="row">
        <div class="col-xs-12">
            {{- if (gt .Params.date 0) }}
            <div class="post__date">
                <time datetime="{{ .Date }}">{{ .Date.Format "02 Jan, 2006" }}</time>
            </div>
            {{- end }}
            {{- if .Params.tags }}
            <div class="post__tags">
                {{- range ($.GetTerms "tags") }}
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>&nbsp;
                {{- end }}
            </div>
            {{- end }}
        </div>
    </div>
</footer>