{{ define "main" }}
<section class="storey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="article">
                    <header>
                        <h1>{{ .Title }}</h1>
                    </header>
                    {{ .Content }}
                </div>

                <div class="posts">
                    {{ range .Data.Terms }}
                    <div class="post-stub">
                        <h3 class="post-stub__header">
                            <a class="post-stub__title" href="{{ .Page.RelPermalink }}">
                                {{ .Page.Title }}
                            </a>
                            <span class="post-stub__date">
                                <i class="far fa-file"></i>
                                {{ .Count }}
                            </span>
                        </h3>
                    </div>
                    {{- end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}