a.portfolio-thumb {
    border: none;
    display: inline-block;
}
img.portfolio-thumb--raised {
    border-top: 1px solid #eaeaea;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
        0 2px 3px 0 rgba(0, 0, 0, 0.4);
}
img.portfolio-thumb {
    margin: 0 0 0.5em 0;
}

.project-section-header {
    margin-bottom: 0.5em;
    padding-left: 1.5em;
    font-size: 1em;
    font-weight: 600;
}

.project-block {
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #eaeaea;
    border-radius: 0.25em;
    padding: 1em 1.5em;
}
.project-block--noborder {
    border: none;
}
.project-block p {
    margin: 0 0 0.5em 0;
}
.project-block p:last-child {
    margin-bottom: 0;
}