.search-module input[type="search"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.5em 0.75em;
    border: solid 1px #ddd;
    border-radius: 2px;
    outline-style: none;
    font-size: 12px;
}